Source: golang-github-olekukonko-ts
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Stephen Gelman <ssgelm@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/olekukonko/ts
Vcs-Browser: https://github.com/ssgelm/golang-github-olekukonko-ts.git
Vcs-Git: https://github.com/ssgelm/golang-github-olekukonko-ts.git
XS-Go-Import-Path: github.com/olekukonko/ts

Package: golang-github-olekukonko-ts-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple go Application to get Terminal Size
 So Many Implementations do not support windows but ts has full windows
 support. See Documentation (http://godoc.org/github.com/olekukonko/ts)
